<div>
    <h1>Registrar Usuarios</h1>
    <form action="/session/register" method="post">

        Nombre: <input type="text" name="first_name"><br>
        Apellido: <input type="text" name="last_name"><br>
        Rut: <input type="text" name="rut"><br>
        Password: <input type="password" name="password"><br>

        <br>

        <input type="submit" value="Crear">

    </form>
</div>